body {
  background: #fafafa;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sidebar-item {
    background: #ffffff;
}

.sidebar-item:hover {
    background: #f5f5f5;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-top: 2px;
  margin-bottom: 4px;
  border-top: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.account-second-heading {
  font-size: 1.5rem;
}

.border-title {
  border-width:5px !important;
  border-color: #59698d !important;
}

.article-author {
  color: #1c2a48;
}

a.article-author:hover {
  color: #90a4ae;
  text-decoration: none;
}

.nav-button{
  border-style: solid;
  border-color: white;
  color: white !important;
  font-size: 15px;
}

.nav-button:hover{
  color: white;
  background-color: #bdbdbd;
}

.article-holder {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5  px;
  margin-bottom: 20px;
}

.sidebar {
  position: sticky;
  top: 80px;
}

.image_cover{
  width:125px;
  height:125px;
  border-radius:50%;
  overflow:hidden;
  float: left;
  margin: 7px 0 0 5px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.image_article{
  width:65px;
  height:65px;
  border-radius:50%;
  overflow:hidden;
  float: left;
  margin-right: 16px;
}


.img_custom{
  width: 100%;
  height: auto;
}

.errorbox {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.errorbox h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.errorbox h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.border-inline {
  border-width:3px !important;
  border-color: #59698d !important;
}

.inline-link{
  color: #616161;
}

a.inline-link:hover{
  color: #e0e0e0 !important;
}
