{% extends "layout.html" %}
{% block title %}
    <h1>About The Creator</h1>
{% endblock title %}
{% block content %}
    <div class="content-section z-depth-2">
      <div class="media">
        <div class="image_cover">
          <img class="img_custom" src="https://scontent.fsin5-1.fna.fbcdn.net/v/t1.0-9/97989068_2681979408747513_9186338097229463552_n.jpg?_nc_cat=107&_nc_sid=110474&_nc_ohc=NOuCQ-mHwYMAX95dAJJ&_nc_ht=scontent.fsin5-1.fna&oh=0f1d3a825d04712dbb2c57c50737d62e&oe=5F353EEF">
        </div>
        <div class="media-body">
          <h2 class="account-heading">Lê Thành Nhân</h2>
          <p class="text-muted">Amateur Coder, Co-founder of <a href="https://www.facebook.com/ChuyencuaconChu/">Chuyện của Chữ</a>, Content Creator of <a href="https://www.facebook.com/VNCSGOHelper/">VN-CS:GO Helper</a> </p>
            <p> Đẹp trai, đỉnh cao, tài năng là những gì Nhân không có</p>
        </div>
      </div>
    </div>
{% endblock content %}

